.picture {
    padding: 20px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;

}


img {
    width: 210px;
    height: 297px;
    border: 1px solid rgb(194, 193, 193);
}

.bigger {
    width: 310px;
    height: 397px;
    border: 1px solid rgb(194, 193, 193);
    transition: 1s;
}